body {
    background-image: url("background.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    padding-right: 20%;
    padding-left: 20%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

H1,H2,H3,H4,H5,H6 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    background: gray;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-indent: 1em;
}


img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}